<div fxLayoutAlign="end">
<button (click)="signInGoogle()">Sign In via Google</button>
<button (click)="signOutGoogle()">Sign Out</button>
</div>
<form #signinForm="ngForm" (ngSubmit)= "onSubmit(signinForm)" fxLayoutAlign="center">
   
    <mat-card class="card-form">
        <mat-card-title>Sign In</mat-card-title>
        <div class="signin-form" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="User Name" ngModel name="username" required >
        </mat-form-field>
        <br>
        </div>

        <div class="signin-form" fxLayoutAlign="center">
        <mat-form-field>
            <input type="password" matInput placeholder="Password" ngModel name="password" minLength="6" required>
           
        </mat-form-field>
        <br>
        </div>

        <div fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="primary" >Sign in</button>
        </div>
    </mat-card>
</form>
  

<button (click)="signInGoogle()">Sign In via Google</button>
<button (click)="signOutGoogle()">Sign Out</button>


<form #signupForm = "ngForm" (ngSubmit)="onSubmit2(signupForm)" fxLayoutAlign="center">
    <mat-card class="card-form">
        <mat-card-title>Sign Up</mat-card-title>
        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field >
            <input matInput placeholder="First Name" ngModel name="firstname">
        </mat-form-field>
        <br>
        </div>

        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="Last Name" ngModel name="lastname">
        </mat-form-field>
        <br>
        </div>

        <div class="signup-form" fxLayoutAlign="center">
        <mat-radio-group fxLayout="row"  fxLayoutGap="20px">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        </div>


        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="User Name" ngModel name="username" >
        </mat-form-field>
        <br>
        </div>

        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input type="password" matInput placeholder="Password" ngModel name="password">
        </mat-form-field>
        <br>
        </div>

        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" ngModel name="confirmedPassword">
        </mat-form-field>
        <br>
        </div>


        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="Email" ngModel name="email">
        </mat-form-field>
        <br>
        </div>


        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field>
            <input matInput placeholder="Phone Number" ngModel name="phone" >
        </mat-form-field>
        <br>
        </div>

        <div class="signup-form" fxLayoutAlign="center">
        <mat-form-field >
            <input matInput [matDatepicker]="picker" placeholder="Birth Date" name="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        </div>
        <br>

        <div fxLayoutAlign="center">
            <button type="submit" mat-raised-button color="primary" >Create account</button>
        </div>
    </mat-card>
</form>
  