.signup-form {
    width: 100%;
  
  }

 .signup-form > * {
    width: 400px;
    padding:15px;
  } 

  .signin-form {
    width: 100%;
  }

  .signin-form > * {
    width: 400px;
    padding: 15px;
  } 
  
.card-form {
  width:500px;
}