<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar API Quickstart</title>

    <meta charset='utf-8' />
  </head>
  <body>

      
    
    <div fxLayoutAlign="center">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{fullname}}</mat-card-title>
          <mat-card-subtitle>Mr.{{lastname}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{pictureurl}}" alt="Photo of {{fullname}}">
        <mat-card-content>
          <p>
              Name: {{fullname}}<br>
              Email: {{email}}  <br>
              Google ID: {{googleId}}

          </p>
        </mat-card-content>

      </mat-card>
    </div>





  </body>
</html>